[submodule "foundryDeployment/storage/lib/forge-std"]
	path = foundryDeployment/storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "storage/lib/forge-std"]
	path = storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
